@model MyBlog.Domain.ViewModels.HomeIndexViewModel

@if (Request.IsAuthenticated)
{
    <h1>@Model.Greeting</h1>
    <p>It is time to write a blog...</p>
} 
else
{
    <h1>Welcome to CodeBlog</h1>
    <p class="lead">CodeBlog is a site where you can write about your programming experience and share with others or keep it private.</p>
}