@using Microsoft.AspNet.Identity

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @*<li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@

    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("My Blog", "Index", "Blog")</li>
    }
    else
    {
       
    }


</ul>